# .NET
bin/
obj/
*.user
*.suo
*.cache
*.docstates
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.userprefs

# Rider
.idea/

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.local
